<style>
  .container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  span {
    margim: 10px;
  }
</style>

<div class="container">
  <span>Oi, {{name}}</span>

  <br/>

  <span>Você solicitou a troca de senha.</span>
  <span>Para realizar a troca de senha, clique no link abaixo.</span>
  <br/>
  <a href="{{link}}">{{link}}</a>

  <span>Caso não tenha solicidado essa alteração ignore este e-mail</span>

  <strong>Obrigado</strong>

  <h3>Equipe <strong>RenteX</strong></h3>
</div>
